.header{
   width: 100%;
   display: flex;
  justify-content: space-around;
   align-items: center;
   background-color: #fff;
 

}

.header nav{
   display: flex;
   
}
.header nav >*{
   margin: 0 45px 0 0;
}
.burger__menu{
   display: none;
}
.header .burger__active{
   
   left: 0;
  
   
   background-color: #fff;
 
}
@media(max-width:766.99px){
   .header{
      justify-content: space-between;

   }
   .header__logo{
      margin: 0 auto;
   }
   .header nav{
      display: flex;
      flex-direction: column;
      margin: 0;
      gap: 25px;
      position: absolute;
      top: 75px;
      left: -500px;
      width: 200px;
      height: 500px;

      z-index: 15000;
      transition: 1s all ease;
   }
  
   .burger__menu{
      position: absolute;
      display: block;
     top: 25px;
      width: 25px;
      height: 22px;
      margin: 0 0 auto 20px;
   }
   .burger__menu::after{
      position: absolute;
      content: '';
      z-index: 101;
      width: 15px;
      height: 2px;
      top: 0;
      left: 0;
      background-color: #000;
   }
   .burger__menu span{
      position: absolute;
      z-index: 101;
      width: 15px;
      height: 2px;
      background-color: #000;
      top: 7px;
      left: 0;
   }
   .burger__menu::before{
      position: absolute;
      content: '';
      z-index: 101;
      width: 15px;
      height: 2px;
      bottom: 5px;
      left: 0;
      background-color: #000;
   }
}

.container{
   max-width: 1350px;
   margin: 0 auto;
   padding: 0 10px;
   
}
.header__logo{
   position: relative;
   
   width: 75px;
   height: 75px;
}
.header__logo img{
   position: absolute;
   max-width: 100%;
   border-radius: 50%;

}
a{
   text-decoration: none;
   color:black;
   font-size: 16px;
}
a:hover{
   text-decoration: underline;
}


.header__basket-product{
   background-image: url('https://outmaxshop.ru/templates/outmaxshop/img/cart.svg');
   background-repeat: no-repeat;
   background-position: center;
   width: 40px;
   height: 40px;
   background-color: #f7f6f6;
   border-radius: 50%;
   cursor: pointer;
   position: relative;
}
.header__basket-product__number{
   position: absolute;
    top: 0px;
    right: -9px;
    min-width: 12px;
    padding: 0 4px 0 4px;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
    background: #f5861f;
    border-radius: 50px;
}





