.footer{
   background-color: #2d2d2d;
   padding: 30px 0 ;
}
.footer__container{
   max-width: 1350px;
   margin: 0 auto;
   padding: 0 10px;
}
.footer__body{
   display: flex;
}
.foooter__logo{
   width: 20%;
   text-align: center;
}
.footer__product{
   display: flex;
   flex-direction: column;
 
   width: 20%;
   
   margin: 0 30px 0 0;
}


.product__rules{
   color:rgba(255,255,255,.4);
   
   
}
.product__rules__delivery{
    color:rgba(255,255,255,.4);
    margin:0 0 15px 0;
}
.product__rules__guarantees{
    color:rgba(255,255,255,.4);
    margin:0 0 15px 0;
}
.product__rules__contacts{
    color:rgba(255,255,255,.4);
    margin:0 0 15px 0;
}
.product__rules__agreements{
    color:rgba(255,255,255,.4);
    margin:0 0 35px 0;
}
.product__rules__dropBuy{
    color:rgba(255,255,255,.4);
    display: flex;
    flex-direction: column;
}
.product__rules__dropBuy button{
   margin:0 0 15px 0;
}
.footer__payments{
   width: 25%;
   display: flex;
   flex-direction: column;
   
}
.payments__delivery{
    color:rgba(255,255,255,.4);
     margin:0 0 15px 0;
}
.payments__reviews{
    color:rgba(255,255,255,.4);
     margin:0 0 15px 0;
}
.payments__exchangeReturn{
    color:rgba(255,255,255,.4);
     margin:0 0 15px 0;
}
.payments__payment{
    color:rgba(255,255,255,.4);
     margin:0 0 20px 0;
}
.payments__news{
    color:rgba(255,255,255,.4);
     margin:0 0 20px 0;
}
.payments__faq{
    color:rgba(255,255,255,.4);
}
.footer__subscribe{
   width: 30%;
   display: flex;
   flex-direction: column;
   
}
.subscribe__button-input{
   display: flex;
}
.subscribe__text{}
.subscribe__email{
   margin: 0 10px 0 0;
    background-color: #2d2d2d;
}
.subscribe__button{
 background-color: #2d2d2d;
}

@media(max-width:1150px){
   .footer__body{
      justify-content: space-around;
   }
   .footer__product{
    margin:0 5px 0 0 
   }
   .footer__payments{
      width: 22%;
   }
}
@media(max-width:1000px){
 .footer{
   background-color: #fff;

 }
 .footer__body{
   flex-direction: column;
   
 }
 .footer__product>*,.footer__payments>*,.footer__subscribe>*,.product__rules>*{
   color:#000
 }
 .footer__subscribe{
   order: 1;
   width: 100%;
   margin: 0 0 20px 0;
 }
 .subscribe__text{
   text-align: center;
   margin: 0 0 5px 0;
 }
 .footer__subscribe > span{
   display: none;
 }
 .subscribe__email{
   width: 70%;
   margin: 0;
   border: 0.5px solid grey;
   background-color: #fff;
 }
 .subscribe__button{
   width: 30%;
   border: none;
   background-color: #46e80b;
   color: #fff;
   
 }
 .foooter__logo{
   order: 4;
   text-align: center;
   background-color: #2d2d2d;
   width: 100%;
   padding: 50px 0;
 }
 .footer__product{
   order: 2;
   width: 100%;
 }

 .product__rules>*{
   width: 100%;
  padding: 5px 0 5px 5px;
   margin: 0;
   border-bottom: 1px solid grey;
   color: #231815;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
 }
 .product__rules__delivery{
   border-top: 1px solid grey
 }
 .product__rules:last-child{
   border-bottom: 1px solid grey;
 }
 .footer__payments{
   order: 3;
   width: 100%;
 }
 
}